<nav>
  <div class="container">
    <div class="rowwise">
      <div class="main__icon" style="cursor: pointer">
        <img src="assets/img/logo.JPG" alt="" />
        <span>beep</span>
      </div>

      <div class="nav__item user__nav" style="cursor: pointer">
        <i class="fas fa-user"></i>
        <span class="nav__item--name">My Profile</span>
      </div>

      <div class="nav__item cart__nav" style="cursor: pointer">
        <i class="fas fa-shopping-bag"></i>
        <span class="nav__item--name">0 Items</span>
        <span class="nav__item--price">$0.0</span>
      </div>

      <div class="nav__item" style="cursor: pointer">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</nav>
